<div class="all-the-players">
  <div class="border-everything">
    <h1 class="chess-player-title">
      Hikaru Nikamura
    </h1>
    <div>
      <img src="">
    </div>
    <section>
      <p>Hikaru is the wildcard in the candidates right now, and I'm rooting for me</p>
    </section>
    <div>
      <!-- <a href="/search?hashtag=youtuber" (click)="changeTheFontWeight()" [class.highlighted]="clickedOnItem"
        [class.nothighlighted]="!clickedOnItem">#youtuber</a> |
      <a href="/search?hashtag=superGM" (click)="changeTheFontWeight()" [class.highlighted]="clickedOnItem"
        [class.nothighlighted]="!clickedOnItem">#superGM</a> -->
    </div>
  </div>
</div>

<div class="border-everything">
  <h1>
    Nepo
  </h1>
  <div>
    <img src="">
  </div>
  <section>
    <p>He's the favourite this time in the candidates, except Magnus thinks he's bad</p>
  </section>
  <div>
    <a href="/search?hashtag=secondintheworld">#secondintheworld</a> |
    <a href="/search?hashtag=stop2900">#stop2900</a>
  </div>
</div>















<app-directive-playground></app-directive-playground>

<hr>

<app-pipes-example></app-pipes-example>

<hr>

<app-data-binding></app-data-binding>

<hr>

<app-template-syntax></app-template-syntax>

<hr>


<h1 id="headerId">A header on the app component, with margins intact</h1>

<h2>All the items in the list</h2>
<!-- Display the list of items and apply css based on if it's the first one -->
<div>
  <!-- Passing in an array, but no conditions for each class -->
  <!-- <app-content-card
    *ngFor="let individualChessPlayer of (chessPlayers | contentTagged); index as i; first as isFirst, even as isEven; odd as isOdd"
    [contentItem]="individualChessPlayer" class="chess-player-{{i}}" [ngClass]="cardClasses">
  </app-content-card> -->

  <!-- Want to specify a case for each application of a class -->
  <app-content-card
    *ngFor="let individualChessPlayer of (chessPlayers | contentTagged); index as i; first as isFirst; last as isLast; even as isEven; odd as isOdd"
    [contentItem]="individualChessPlayer" class="chess-player-{{i}}" [class.is-last]="isLast" [style.color]="'blue'"
    [ngClass]="{'is-first': isFirst, 'is-even': isEven, 'is-odd': isOdd}"
    [attr.title]="individualChessPlayer.type || ''">
  </app-content-card>
</div>

<button (click)="addPlayer()">Add Hikaru to array</button>
<!-- <span>{{ individualChessPlayer }}</span> -->
<!-- <h1>The first 2 items in the list</h1> -->
<!-- only show the first 2 items -->
<!-- <div *ngFor="let individualChessPlayer of chessPlayers; index as i; first as isFirst">
  <app-content-card [contentItem]="individualChessPlayer" class="chess-player-{{i}}" [class.is-first]="isFirst" *ngIf="i < 2">
  </app-content-card>
</div>

 -->
