.rocket-ship-heading{
  //padding: 50px;

  //span {
  //  background-color: red;
  //  display: inline-block;
  //}
}
.rocket-ship-heading span {
  background-color: red;
  display: inline-block;
}

.red{
  color: red;
}
