:host {
  display: block;
  margin: 120px 16px;
}

span {
  background-color: blue;
  display: inline-block;
}

.heading-class-separate {
  color: yellow; // thankfully this will never happen
  background-color: black;
  display: inline-block;
}

.image-wrapper {
  margin-top: 50px;
  text-align: center;
}

img {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.red {
  color: red;
}



div.border-everything,
div.border-everything * {
  border: 1px solid red;
}

div.border-everything {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 16px auto;
  width: 500px;
}

h1 {
  margin: 8px 0;
}
