<h1>Examples we've built in class</h1>
<ul>
  <li><a routerLink="/tutorials/basiccards" routerLinkActive="active">Basic cards without components</a></li>
  <li><a routerLink="/tutorials/templatesyntax" routerLinkActive="active">Template Syntax</a></li>
  <li><a routerLink="/tutorials/databinding" routerLinkActive="active">Data Binding</a></li>
  <li><a routerLink="/tutorials/pipes" routerLinkActive="active">Pipes</a></li>
  <li><a routerLink="/tutorials/directives" routerLinkActive="active">Directives</a></li>
</ul>
