<h2>One Way Binding</h2>
<h3>Double handle bars / Interpolation</h3>
<div>{{ type }}</div> <!-- We can't change the value in here -->
<h3>Data binding to an attribute</h3>
<div>Using the innerHTML attribute:</div>
<div [innerHTML]="type"></div> <!-- We can't change the value in here -->
<div>The longer version that angular uses:</div>
<span bind-innerHtml="type"></span> <!-- We can't change the value in here -->


<h2>Event Binding</h2>
<button (click)="clickEvent()">Click me!</button>
<button on-click="type = 'NotChess'">Click me!</button>
