<h2>All the items in the list</h2>
<!-- Display the list of items and apply css based on if it's the first one -->
<div>
  <!-- Passing in an array, but no conditions for each class -->
  <!-- <app-content-card
    *ngFor="let individualChessPlayer of (chessPlayers | contentTagged); index as i; first as isFirst, even as isEven; odd as isOdd"
    [contentItem]="individualChessPlayer" class="chess-player-{{i}}" [ngClass]="cardClasses">
  </app-content-card> -->

  <!-- Want to specify a case for each application of a class -->
  <app-content-card
    *ngFor="let individualChessPlayer of (chessPlayers | contentTagged); index as i; first as isFirst; last as isLast; even as isEven; odd as isOdd"
    [contentItem]="individualChessPlayer" class="chess-player-{{i}}" [class.is-last]="isLast" [style.color]="'blue'"
    [ngClass]="{'is-first': isFirst, 'is-even': isEven, 'is-odd': isOdd}"
    [attr.title]="individualChessPlayer.type || ''">
  </app-content-card>
</div>

<button (click)="addPlayer()">Add Hikaru to array</button>
<!-- <span>{{ individualChessPlayer }}</span> -->
<!-- <h1>The first 2 items in the list</h1> -->
<!-- only show the first 2 items -->
<!-- <div *ngFor="let individualChessPlayer of chessPlayers; index as i; first as isFirst">
  <app-content-card [contentItem]="individualChessPlayer" class="chess-player-{{i}}" [class.is-first]="isFirst" *ngIf="i < 2">
  </app-content-card>
</div>

 -->
