<mat-form-field color="primary" appearance="fill">
  <mat-label>ID (for updating)</mat-label>
  <input matInput [(ngModel)]="contentItem.id">
</mat-form-field>
<mat-form-field color="primary" appearance="fill">
  <mat-label>Name</mat-label>
  <input matInput placeholder="Magnus" [(ngModel)]="contentItem.name">
</mat-form-field>
<mat-form-field color="primary" appearance="fill">
  <mat-label>Type</mat-label>
  <input matInput [(ngModel)]="contentItem.type">
</mat-form-field>
<mat-form-field color="primary" appearance="fill">
  <mat-label>Image URL</mat-label>
  <input matInput [(ngModel)]="contentItem.imageUrl">
</mat-form-field>
<mat-form-field color="primary" appearance="fill">
  <mat-label>Body</mat-label>
  <input matInput [(ngModel)]="contentItem.body">
</mat-form-field>
<mat-form-field color="primary" appearance="fill">
  <mat-label>Tags</mat-label>
  <input matInput [(ngModel)]="tempTags">
</mat-form-field>
<button mat-raised-button color="primary"
  (click)="+(contentItem.id || 'falsy') ? updateContentOnServer(): addContentToServer() ">
  Add new content
</button>
