:host {
  display: block;
  width: 450px;
  text-align: center;
  margin: 8px auto;
  border: 1px solid #000;
  padding: 8px;

  &.is-first {
    // & means this selector is applied directly to :host
    background-color: green;
  }

  h1 {
    margin: 0;
  }
}

//the result of using the &
// :host.chess-player-0{

// }

// :host h1{
//   margin: 0;
// }

img {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

div.type {
  display: inline-block;
  margin-top: 8px;
  background-color: #ff0000;
  padding: 8px;
}
